<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <title>Projetos</title>
</head>
<body class="project-body">
  <main class="main-main">
      <div class="main-container1-div">
        <div class="main-box1-div">
          <div class="main-box2-div">
            <p>Meu nome é <u class="main-underliner1-u">Bruno Schmitz da Silva</u> 
              e meus pronomes são <u class="main-underliner1-u">ele/dele.</u>
            </p>
          </div>
          <div class="main-box2-div">
            <p>Tenho <u class="main-underliner1-u">18 anos</u> e sou de <u class="main-underliner1-u">Santa Catarina.</u></p>
          </div>
        </div>
        <div class="main-box1-div">
          <div class="main-box2-div">
            <p>Eu sou um <u class="main-underliner1-u">programador web</u> com conhecimentos <u class="main-underliner1-u">Front-End e Back-end.</u></p>
          </div>
          <div class="main-box2-div">
            <p>Também já tive contato com:<u class="main-underliner1-u">Banco de dados</u> e <u class="main-underliner1-u">Desenvolvimento de jogos.</u></p>
          </div>
        </div>
        <div class="main-btn1-div">
          
        </div>
      </div>
    </main>
</body>
</html>